#form {
    font-family: arial;
    font-size: 14px;
}

.form-styling {
    display: block;
    margin-bottom: 10px;
}




.input-styling {
    display: block;
    width: 100%;
    background-color: #e7e7e7;
    border: 1.5px #d9d9d9 solid;;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.input-styling:focus {
    outline: 1.5px solid #b8493c;
}
select {
    background-color: #e7e7e7;
    border: 1.5px #d9d9d9 solid;;
    border-radius: 5px;
    margin-left: 10px;
}
select:focus {
    outline: 1.5px solid #b8493c;
}
