#welcome-section {
    display: block;
    justify-items: center;
    /* outline: 1px red solid; */
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px 0 30px 0;
}
#welcome-title {
  margin: 0 0 10px 0;
  font-size: 26px;
}
#welcome-subtitle {
   color: rgb(109, 109, 109);
   font-size: 16px;
}