


main {
    font-family: Arial, Helvetica, sans-serif;
    border: 1.5px solid #bfbfbf;
    margin: 10px auto 10px auto;
    width: 450px;
    border-radius: 10px;
    padding: 20px;
    background-color: #fafafa;

}

#create-event-title {
    margin: 0px 0px 5px 0px;
    font-size: 16px;
    font-weight: 600;
}
#create-event-subtitle {
    margin: 5px 0px 20px 0px;
    font-size: 11px;
    color: rgb(109, 109, 109);
}
#choose-event-type-title {
    margin: 20px 0px 10px 0px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}
#choose-event-type-subtitle {
    margin: 10px 0px 20px 0px;
    text-align: center;
    font-size: 11px;
    color: rgb(109, 109, 109);
}

.event-type-box-row {
    display: flex;
    justify-content: center;
}
.event-type-radio-btns[type="radio"]:checked {
    accent-color: #b8493c;
}
.event-type-radio-box {
    border: 1.5px solid rgb(168, 168, 168);
    padding: 15px 10px 8px 20px;
    margin: 5px;
    font-size: 12px;
    width: 188px;
    border-radius: 10px;
    display: flex;
    align-items:end;
    gap: 5px;
    cursor: pointer;
}
.event-type-radio-box:hover {
    box-shadow: 0px 1.5px 3px rgb(168, 168, 168);
}

#create-event-submit-btn {
    width: 450px;
    font-size: 10px;
    margin-top: 16px;
    padding: 8px;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: #f7f3f3;
    background-color: #b8493c;
    cursor: pointer;
}
#create-event-submit-btn:hover {
    box-shadow: 0px 1.5px 3px rgb(168, 168, 168);
    background-color: #bb5044;
}

#event-type-selected {
    text-align: center;
    font-size: 10px;
    color: rgb(109, 109, 109)
}

#event-type-name {
    color: black;
}