
#grid-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: gb(230, 230, 230);
}
.grid-box {
    font-family: Arial, Helvetica, sans-serif;
    border: 1.5px solid #bfbfbf;
    margin: 20px;
    width: 300px;
    border-radius: 10px;
    background-color: white;
    transition: transform 0.3s ease;
}
.grid-box:hover {
    transform: scale(1.05);  
}

.heart-box {
    min-height: 30px;
    /* border: 1.5px solid red; */
}
.img-div {
    display: flex;
    align-items: center;
    /* outline: 1px red solid; */
    width: 300px;
    height: 300px;
    margin: 0 auto 0 auto;
    background-color: #000000 ;
    overflow: hidden;  
}

.social-img {
    width: 300px;
    display: flex;
    align-items:  center;
    object-fit: contain;
    background-color: #000000 ;
    transition: transform 0.3s ease;
}
.social-img:hover {
    transform: scale(1.2);  
    object-fit: fill;
}
.danceStyle {
    font-size: 13px;
    background-color: #b8493c;
    color: white;
    margin: 15px auto 0px 15px;
    padding: 6px 12px;
    width: 120px;
    text-align: center;
    border-radius: 20px;
}
.info-box {
    padding: 0 20px;
    font-size: 15px;
}