
#grid-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#events-found {
    position: sticky;
    top: 140px;
    z-index: 0;
    color: rgb(109, 109, 109);
}
.grid-box {
    background-color: #fafafa;
    border-radius: 20px;
    width: 20%;
    min-width: 300px;
    height: 80%;
    min-height: 500px;
    margin: 10px;
    padding: 20px 0px;
    border: 1.5px solid red;
}
.img-box {
     border: 1.5px solid #bfbfbf;
     border-radius: 20px;
      height: 400px;
      display: inline;
}
.heart-box {
    min-height: 50px;
    border: 1.5px solid red;
}
.img-div {
   
    display: flex;
    align-items: center;
    border-radius: 20px;
}
.social-img {
    width: 99%;
    height: auto;
    
    border: 1.5px solid #bfbfbf;
}
.danceStyle {
    font-size: 13px;
    background-color: #b8493c;
    color: white;
    margin: 10px auto 10px 10px;
    padding: 6px 12px;
    width: 80px;
    text-align: center;
    border-radius: 20px;
}