#list-section {
    margin: 20px;
}
.list-box {
    border: 1.5px solid #bfbfbf;
    display: flex;
    height: 150px;
    align-items:center;
    margin-bottom: 20px;
    border-radius: 20px;
    transition: transform 0.3s ease;
}
.list-box:hover {
    transform: scale(1.03);  
}
/* .list-heart-box {
    outline: red 1px solid;
    position: relative;
    top: -50px;
    right:-30px;
    width: 20px;
} */
.list-img-div {
    margin: 20px;
    /* outline: red 1px solid; */
    display: flex;
    width: 110px;
    height: 110px;
}
.list-social-img {
    width: 110px;
    height: 110px;
    object-fit: fill;
    border-radius: 20px;
    transition: transform 0.3s ease;
}
.list-social-img:hover {
    transform: scale(1.3);  
    object-fit: fill;
}

.list-info-box {
    /* outline: 1px red solid; */
    margin-right: 20px;
    width: 220px;
    height: 110px;
    display: block;
    align-self: center;
}
.list-title {
    display: flex;
    margin: 0 0 5px 0;
    font-family: Arial, Helvetica, sans-serif;
}
.list-venueName {
    margin: 0 0 5px 0;
    font-family: Arial, Helvetica, sans-serif;
}
.list-date-time-box {
    /* outline: 1px red solid; */
    margin-right: 20px;
    height: 110px;
}
.date-time {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 25px 0;
}
.list-danceStyle-box {
    /* outline: 1px red solid; */
    width: 130px;
    height: 110px;
    margin-right: 20px;
    display: flex;
    align-items: start;
    justify-content: center;
    margin-top: 0px;
}
.list-danceStyle {
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    background-color: #b8493c;
    color: white;
    padding: 6px 12px;
    border-radius: 20px;
}